@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.42857;
  background: #333333;
  height: 350px;
  padding: 0;
  margin: 0;
}

/* navbar全体 */

.navbar-brand{
  text-align: center;
}
.notehub-logo{
  position: absolute;
  top:-30px;
  bottom: 0;
  left: 5%;
  right: 0;
  max-height: 90px;
  width: auto;
}
.navbar-nav{
  /*float: right;*/
  margin: 0px, 100px;
  text-decoration: none;
  margin-bottom:0;
}
.navbar-button{
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
}
.navbar-button:hover{
  border-bottom: solid 5px #00acff;
  padding-bottom: -5px;
}
.navbar-login{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  background-color: #00acff;
  text-align: center;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
}
.navbar-login:hover {
	background-image: -webkit-linear-gradient(top, #009ae5, #009ae5);
}

/*indexの中身 */
.main{
  margin-top: 65px;
}
.jumbotron{
  height: 580px;
  background-image: url("/background.jpg"); background-repeat:no-repeat;
  background-size: cover;
}
.jumbotron_text{
  margin-left: 50px;
  margin-top: 230px;
  padding: 5px;
  width:900px;
  background-color: #fff;
  color: #00acff;
  opacity: 0.8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.jumbotron .btn{
  margin-left: 50px;
}
/*.room-img{
  max-width: 100%;
  height: auto;
}*/
/*.notehub{
  margin-top: 10px;
  background-color: #00acff;
  color: #fff;
}*/
